<div class="form-group">
  <%= form.input :avatar, as: :file %>
  </div>

  <div class="form-group text-center">
  <%= form.input :caption%>
  </div>

  <div class="form-group text-center">
  <%= form.button :submit , class: "btn-success"%>
  </div>