<div class="form-wrapper">
<%= simple_form_for @post,html: { class: 'form-horizontal',
multipart: true }, url: posts_path do |form| %>
  <%= render(:partial => 'form', :locals => {:form => form}) %>

  

<% end %>

</div>


