
		<%= render(:partial => 'post', :locals => {:post => @post}) %>
			<div class="text-center edit-links">
			<%= link_to "Cancel", posts_path %>
			<% if current_user.id == @post.user.id %>
				<%= link_to "Edit Post", edit_post_path(@post) %>
			<% end %>
		</div>
